# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Ignore settings.py (adjust if your app name is different)


# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDEs/editors
.vscode/
.idea/
*.swp
